
.cd{
    width:25vw;
    height:23vh;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
   
}
.cd:hover{
    transform: scale(1.1);
}
body {
    background: "#384f3c";
  }
  .M{
    font-family: Lato;
  }
  .Font{
    font-family: 'Kanit', sans-serif;
}
.blur-background {
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay */
  }